.Rhistory
/analysis/data_reshape_for_website.pdf
/analysis/data_reshape_for_website.tex
/analysis/extract_mcmc_draws.html
/analysis/forecasts_visual_check.html
/analysis/projection_using_fitted.pdf
/analysis/projection_using_fitted.tex
_book/*.pdf
_book/*.tex
_book/*.tex
_book/*.pdf
*.pdf
*.tex
